page-erlebnisradwege {
  ion-card {
    position: relative;
    text-align: left;
    height: 150px;

    .card-background {
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .description {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 5px;
      background-color: rgba(color($colors, secondary),0.85);
    }

    .card-title {
      color: color($colors, light);
      font-size: 2.0rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .card-subtitle {
      color: color($colors, light);
      font-size: 1.4rem;
    }
  }
}
