page-erlebnisradwege {

// .phone {
  ion-card {
    position: relative;
    text-align: left;
    height: 150px;

    .card-background {
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .description {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 5px;
      background-color: rgba(color($colors, secondary),0.85);
    }
    .card-title {
      color: color($colors, light);
      font-size: 2.0em;
      font-weight: bold;
      text-transform: uppercase;
    }

    .card-subtitle {
      color: color($colors, light);
      font-size: 1.0em;
    }
  }
// }

@media screen and (orientation: landscape) {
  .tablet {
  ion-card {
    position: relative;
    text-align: center;
    height: 150px;

    .card-background {
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .card-title {
      position: absolute;
      top: 29%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      background-color: rgba(0,0,0,0.5);
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #000;
      background-color: #fff;
    }
  }
}
}

@media screen and (orientation: portrait) {
  .tablet {
  ion-card {
    position: relative;
    text-align: center;
    float: left;
    width: 324px;
    height: 200px;

    .card-background {
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .card-title {
      position: absolute;
      top: 29%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      background-color: rgba(0,0,0,0.5);
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #000;
      background-color: #fff;
    }
  }
}
}

}
