page-erlebnisradwege {
  ion-card {
    position: relative;
    text-align: center;
    height: 150px;

    .card-background {
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .card-title {
      position: absolute;
      top: 29%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      background-color: rgba(0,0,0,0.5);
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #000;
      background-color: #fff;
    }
  }
}
