page-startseite {
  //Kachelstyle
  .tile {
    background-color: color($colors, secondary);
    color: color($colors, light);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &.b-primary {
      background-color: color($colors, primary);
    }

    .tile-inner {
      font-weight: 300;
      font-size: 1.8rem;
      position: relative;
    }

    ion-icon {
      position: relative;
      font-size: 45px;
      text-align: center;
      display: block;
      width: 100%;
      // padding-top:10px;
    }

    .custom-icon {
      position: relative;
      max-height: 67px;
      height: auto;
      text-align: center;
      display: block;
      width: 100%;
      // padding-top:10px;
      &:before {
        display: inline-block;
        width: 48px;
        position: relative;
        // top: 40%;
        // transform: translateY(-50%);
      }
    }
    .title {
      text-align: center;
    }
  }


  // Gerätespezifischer Style
  .phone {
    background: color($colors, secondary);
    .image-wrapper{
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 33.334%;
      .slider-overlay{
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-image: url('../assets/img/bt_overlay.svg');
        box-shadow: 10px 10px 10px black;
        background-size: cover;
        background-position: center bottom;
        display: block;
        margin: auto;
        opacity: 0.5;
      }
      .swiper-wrapper {
        opacity: 0.5;
        // -webkit-filter: blur(2px);
        // -moz-filter: blur(2px);
        // -o-filter: blur(2px);
        // -ms-filter: blur(2px);
        // filter: blur(2px);
      }
    }
    ion-grid {
      @media screen and (orientation: portrait) {
        height: 66.666%;
        // margin-top: -3px;
      }
      @media screen and (orientation: landscape) {
        height: 100%;
      }
      padding: 0px;
      position: absolute;
      z-index: 10;

      ion-row {
        flex: 1;
      }
    }
  }

  .tablet {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: color($colors, secondary);
    ion-grid {
      position: fixed;;
      bottom: 0;
      z-index: 200;
      ion-row {
        flex: 1;
      }
    }
    .tablet-image-wrapper{
      position: absolute;
      top: 0;
      display: block;
      z-index: 80;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      background-image: url('../assets/img/slideshow/slideshow_3.jpg');
      background-size: cover;
      background-position: center;
    }
    .tablet-image-overlay{
      position: relative;
      z-index: 100;
      width: 100%;
      height: 100%;
      background-image: url('../assets/img/bt_overlay.svg');
      background-size: cover;
      background-position: center bottom;
      display: block;
      margin: auto;
      opacity: 0.5;
    }
    .tile {
      @media screen and (orientation: portrait) {
        min-height: 100px;
      }
      @media screen and (orientation: landscape) {
        min-height: 200px;
      }
    }
  }
}
