page-startseite {
  .no-scroll .scroll-content {
    overflow: hidden;
  }

  .phone {
    .image-wrapper {
      height: 33.333%;
      overflow: hidden;
      // margin-bottom: 1px;
    }

    ion-grid {
      height: 66.666%;
      padding: 1px;

      ion-row {
        flex: 1;
      }
    }

    .tile {
      background-color: color($colors, secondary);
      color: color($colors, light);
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;

      &.b-primary {
        background-color: color($colors, primary);
      }

      .tile-inner {
        font-weight: 300;
        font-size: 1.8rem;
        position: relative;
      }

      ion-icon {
        position: relative;
        font-size: 45px;
        text-align: center;
        display: block;
        width: 100%;
        // padding-top:10px;
      }

      .custom-icon {
        position: relative;
        height: 67px;
        text-align: center;
        display: block;
        width: 100%;
        // padding-top:10px;
        &:before {
          display: inline-block;
          width: 60px;
          position: relative;
          top: 40%;
          transform: translateY(-50%);
        }
      }

      .title {
        text-align: center;
      }
    }
  }
  @media screen and (orientation: landscape) {
    .tablet {
      .image-wrapper {
        height: 65%;
        overflow: hidden;
        // margin-bottom: 1px;
      }

      ion-grid {
        height: 35%;
        padding: 1px;

        ion-row {
          flex: 1;
        }
      }

      .tile {
        background-color: color($colors, secondary);
        color: color($colors, light);
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;

        &.b-primary {
          background-color: color($colors, primary);
        }

        .tile-inner {
          font-weight: 300;
          font-size: 1.8rem;
          position: relative;
        }

        ion-icon {
          position: relative;
          font-size: 48px;
          text-align: center;
          display: block;
          width: 100%;
          // padding-top:10px;
        }

        .custom-icon {
          position: relative;
          height: 60px;
          text-align: center;
          display: block;
          width: 100%;
          // padding-top:10px;
          &:before {
            display: inline-block;
            width: 60px;
            height: 60px;
            position: relative;
            top: 30%;
            transform: translateY(-50%);
          }
        }

        .title {
          text-align: center;
        }
      }
    }
  }
  @media screen and (orientation: portrait) {
    .tablet {
      .image-wrapper {
        height: 80%;
        overflow: hidden;
        // margin-bottom: 1px;
      }

      ion-grid {
        height: 20%;
        padding: 1px;

        ion-row {
          flex: 1;
        }
      }
      .hide{
        visibility: hidden;
      }

      .tile {
        background-color: color($colors, secondary);
        color: color($colors, light);
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: color($colors, secondary);
        }

        .tile-inner {
          font-weight: 300;
          font-size: 1.8rem;
          position: relative;
        }

        ion-icon {
          position: relative;
          font-size: 48px;
          text-align: center;
          display: block;
          width: 100%;
          // padding-top:10px;
        }

        .custom-icon {
          position: relative;
          height: 60px;
          text-align: center;
          display: block;
          width: 100%;
          // padding-top:10px;
          &:before {
            display: inline-block;
            width: 60px;
            height: 60px;
            position: relative;
            top: 30%;
            transform: translateY(-50%);
          }
        }

        .title {
          text-align: center;
        }
      }
    }
  }
}
