<ion-header>
  <ion-toolbar>
    <ion-title>
      Details
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span hideWhen="android">Schließen</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <!-- Fragezeichen wird benoetigt, da nicht gesichert ist, dass der Wert vorhanden ist. -->
    <!-- Wenn kein Teaser Video vorhanden ist, dann wird das Tourbild angezeigt. -->
    <img *ngIf="!tour?.teaser" src="{{tour?.tourbild}}">
    <video *ngIf="tour?.teaser" width="100%" height="auto" controls poster="{{tour?.tourbild}}">
      <source [src]="tour?.teaser" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <ion-card-content>
      <ion-card-title>
        {{tour?.title}}
      </ion-card-title>

      <ion-row>
        <ion-col>
          <div class="bt-specs schwierigkeitsgrad" [ngSwitch]="tour?.schwierigkeitsgrad">
            <ion-icon name="analytics"></ion-icon>

            <span *ngSwitchCase="1">einfach</span>
            <span *ngSwitchCase="2">mittel</span>
            <span *ngSwitchCase="3">schwer</span>
            <span *ngSwitchDefault>---</span>
          </div>
        </ion-col>
        <ion-col>
          <div class="bt-specs laenge">
            <ion-icon name="bicycle"></ion-icon>
            <span>{{tour?.laenge}} km</span>
          </div>
        </ion-col>
      </ion-row>

      <p>{{tour?.beschreibung}}</p>

    </ion-card-content>
  </ion-card>

  <button ion-button block icon-left color="primary" (click)="tourStarten()" hideWhen="tablet">
    <ion-icon name="navigate"></ion-icon>
    Tour starten
  </button>

  <button *ngIf="this.gespeicherteTouren.indexOf(tour?.id) === -1" ion-button clear block icon-left color="dark" (click)="tourSpeichern(tour?.id)">
    <ion-icon name="star-outline"></ion-icon>
    Tour speichern
  </button>
  <button *ngIf="this.gespeicherteTouren.indexOf(tour?.id) !== -1" ion-button clear block icon-left color="dark" [disabled]="true">
    <ion-icon name="star"></ion-icon>
    Tour gespeichert
  </button>

</ion-content>
