// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.b-primary {
  background: color($colors, primary);
}

ion-col {
  padding: 1px;
}

[padding] {
  padding: 12px;
}

.menu-inner {
  ion-content {
    background-color: transparent;
  }
  .footer-menu {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 16px;
    color: color($colors, primary);
    text-align: center;
  }
}

// .toolbar-ios ion-title{
//   padding: 0 0 1px;
// }


// Custom Icons
// --------------------------------------------------
.icon-erlebnisradwege::before {
  content: url(../assets/img/bt_erlebnisradwege.svg);
}
.icon-navigation::before {
  content: url(../assets/img/bt_navigation.svg);
}
.icon-suche::before {
  content: url(../assets/img/bt_suche.svg);
}
.icon-favoriten::before {
  content: url(../assets/img/bt_favoriten.svg);
}
.icon-pannentipps::before {
  content: url(../assets/img/bt_pannentipps.svg);
}
.icon-routenplaner::before {
  content: url(../assets/img/bt_routenplaner.svg);
}
